
.bar
  &__wrapper
    position: relative
    top: -64px
    width: 200px
    height: calc(100% + 64px)
    display: flex
    padding: 12px
    background-color: #ffffff
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.25)
    z-index: 1
    transition: width 0.3s ease

    &--collapsed
      width: 64px

  &__toggle
    display: flex
    align-items: center
    justify-content: center
    border-radius: 50px
    aspect-ratio: 1
    border: 2px solid #333333
    background-color: transparent

  &__toggle-icon
    transition: transform 0.3s ease
