.employee
  &-item
    display: flex
    flex-direction: row
    align-items: center
    gap: 0.5rem

  &__roles
    display: flex
    flex-direction: row
    align-items: center
    border: 1px solid #ccc
    border-radius: 1rem
    padding: 0.5rem
    flex-wrap: wrap
    gap: 0.5rem

  &__role-label
    background-color: #f0f0f0
    border-radius: 0.5rem
    padding: 0.25rem 0.5rem
    font-size: 0.875rem
    color: #333
