.employees-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  gap: 10px

.employees-table
  width: 100%
  position: relative
  border-collapse: collapse
  border: 1px solid #ddd
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

  thead
    background-color: #ebebeb
    color: #575757
    @media (max-width: 768px)
      display: none

    tr
      display: grid
      grid-template-columns: 1fr 3fr 2fr 2fr 1fr

    th
      padding: 15px
      text-align: right
      font-weight: 600

  tbody
    tr
      border-bottom: 1px solid #ddd
      transition: background-color 0.2s

      &:hover
        background-color: #f9f9f9

      td
        padding: 12px 15px
        text-align: right
        vertical-align: middle

      td:first-child
        font-weight: 500
