.employees-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
  gap: 10px

.employees-table
  width: 100%
  position: relative
  border-collapse: collapse
  border: 1px solid #ddd
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

  thead
    background-color: #ebebeb
    color: #575757
    @media (max-width: 768px)
      display: none

    tr
      display: grid
      padding-right: calc($cell-size * 2)

      // grid-template-columns: 1fr 3fr 2fr 2fr 1fr
      grid-template-columns: 200px 500px 200px 200px 100px
      gap: $cell-size

    th
      padding: calc($cell-size / 2) 0
      text-align: right
      font-weight: 600

  tbody
    tr
      border-bottom: 1px solid #ddd
      background-image: linear-gradient(rgba(10, 188, 199, 0.07) 1px, transparent 1px), linear-gradient(90deg, rgba(10, 188, 199, 0.07) 1px, transparent 1px)
      background-size: $cell-size $cell-size
      background-position: top right

      &:hover
        background-color: #ecfaff

      td
        padding: $cell-size calc($cell-size * 2)
        text-align: right
        vertical-align: middle

      td:first-child
        font-weight: 500
