.form

  &__overlay
    position: fixed
    inset: 0
    background: rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center
    z-index: 10

  &__modal
    background: #fff
    padding: 24px
    border-radius: 20px
    width: 90%
    max-width: 960px
    max-height: 80vh
    overflow-y: auto
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25)
    &--employee
      max-width: 420px
    &--shift
      max-width: 560px
    &--dynamic
      max-width: 360px
      padding: 12px
    &::-webkit-scrollbar
      display: none

    scrollbar-width: none

    -ms-overflow-style: none

  &__wrapper
    display: flex
    flex-direction: column
    gap: 8px
    &--fullscreen
      max-width: 800px
      margin: 0 auto
      padding: 12px

  &__title
    text-align: center

  &__columns
    display: flex
    flex-direction: row
    gap: 8px
    @media (max-width: 560px)
      flex-direction: column

  &__column
    display: flex
    flex-direction: column
    gap: 8px
    width: 100%

  &__error
    color: red
    margin-bottom: 10px


  &__label
    font-size: 16px
    font-weight: 600
    text-align: right
    &--secondary
      font-size: 12px
      font-weight: 400


  &__input
    width: 100%
    padding: 12px
    border-radius: 16px
    border: 1px solid #ccc
    transition: box-shadow 0.2s
    outline: none
    cursor: pointer
    &--self
      width: unset
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
    &:hover
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25) inset
    &:focus-within
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25) inset

    &--textarea
      height: 120px
      resize: vertical

  &__images-wrapper
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
    align-items: flex-start
    gap: 8px

  &__upload-wrapper
    display: flex
    flex-direction: column
    padding: 24px
    border: 1px solid #ccc
    border-radius: 8px
    overflow: hidden
    max-width: 560px
    cursor: pointer
    transition: 0.2s
    &:hover
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25) inset
    &:focus-within
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25) inset

  &__upload-title
    text-align: center
    font-size: 24px
    font-weight: 600

  &__image-wrapper
    position: relative

    &:hover &__delete-btn
      opacity: 1

  &__uploaded-image
    width: 100%
    border: 1px solid black
    border-radius: 16px
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25)

    &--small
      max-width: 180px

  &__small-images-wrapper
    display: flex
    flex-wrap: wrap
    gap: 8px

  &__list
    position: relative
    height: 300px
    border: 1px solid #ccc
    padding: 8px
    border-radius: 24px
    overflow: scroll
    box-shadow: inset 0px -4px 10px 0px rgba(0,0,0,0.4)
    &--users

    &::-webkit-scrollbar
      display: none

    scrollbar-width: none
    -ms-overflow-style: none

  &__list-item
    padding: 12px
    border-radius: 16px
    border: 1px solid #ccc
    margin-bottom: 6px
    cursor: pointer
    transition: 0.2s
    outline: none
    transition: box-shadow 0.3s ease
    box-shadow: 0 0 6px rgba(0,0,0,0.2),inset 0 0 0 rgba(0,0,0,0)
    &--self
      margin-bottom: 0
      pointer-events: none

    &:hover:not(&--search-user)
      box-shadow: 0 0 0 rgba(0,0,0,0), inset 0 0px 10px rgba(0,0,0,0.2)

    &--search-user
      position: sticky
      top: 0
      height: 44px
      width: 100%
      margin-bottom: 10px
    &--selected
      background: #b2ebf2
      border-color: #00bcd4

  &__time-row
    display: flex
    gap: 8px

  &__time-column
    display: flex
    flex-direction: column
    gap: 8px
    width: 100%

  &__actions
    display: flex
    flex-direction: column
    gap: 8px

  &__delete-btn
    position: absolute
    top: 10px
    right: 10px
    width: 24px
    height: 24px
    font-size: 24px
    cursor: pointer
    border: none
    border-radius: 50%
    background-color: #fff
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25)

    transition: opacity 0.2s ease
    &:hover
      opacity: 0.6
    &:active
      opacity: 0.3

  &__roles
    display: flex
    flex-wrap: wrap
    gap: 6px

  &__role-item
    padding: 8px
    border-radius: 8px
    border: 1px solid #cccccc
    cursor: pointer
    transition: 0.3s
    outline: none
    &:hover
      background: #c7f0d8
    &:active
      opacity: 0.3
    &:focus-within
      background: #c7f0d8

    &--selected
      background: #c7f0d8

  &__message
    padding: 12px 0
    text-align: center
    font-size: 18px
    font-weight: 500
    color: #555

  &__swap-icon
    align-self: center

  &__date-title
    margin: 6px 0
    text-align: center

