*,
*::after,
*::before
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Arial, sans-serif
  user-select: none

html, body
  height: 100%

body
  background-color: #f9f9f9
  color: #333
  min-height: 100%

.wrapper
  width: 100%
  display: flex

.bar__wrapper
  width: 12vw
  min-width: 120px
  height: 100%
  display: flex
  // height: calc(100vh - 80px)
  padding: 12px
  box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.25)
  z-index: 1

.main
  display: flex
  height: 100%
  flex-direction: row

.visually-hidden
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  border: 0
  padding: 0

  white-space: nowrap
  clip-path: inset(100%)
  clip: rect(0 0 0 0)
  overflow: hidden
