.header

  &__wrapper
    display: grid
    grid-template-columns: 40px 3fr
    justify-content: flex-start
    align-items: center
    padding: 12px
    background-color: #87d3eb
    gap: 12px

  &__title
    font-size: clamp(0.88rem, calc(0.648rem + 1.136vw), 1.50rem)
    font-weight: bold
    color: #333

  &__back-button
    background: none
    border: none
    cursor: pointer
    font-size: 16px
    color: #333
    padding: 0
    margin: 0
