.requests
  &__container
    flex: 1
    padding: 8px

  &__grid
    margin: 0 8px
    background-color: rgb(242, 242, 242)
    flex-direction: column
    flex-wrap: wrap
    gap: 8px

  &__card
    width: 100%
    padding: 8px
    background-color: white
    border-radius: 15px
    gap: 12px
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)

  &__text
    text-align: right
    color: #f03433

  &__buttons
    flex-direction: row
    gap: 12px

  &__button
    flex: 1
    border-radius: 8px
    padding: 8px
